# This is a basic workflow to help you get started with Actions

name: CI_BUILD

# Controls when the action will run. Triggers the workflow on push
# events but only for the master branch
on:
  push:
    # only trigger on branches, not on tags
    branches: '**'
    
# This workflow contains two jobs called "check_changes", "build_windows"
jobs:
  # Verify if a build is needed
  check_changes:
    name: Check changed files
    outputs:
      run_build_windows: ${{ steps.check_files.outputs.run_build_windows }}
    runs-on: ubuntu-latest
    steps:
      - id: get_changed_files
        uses: masesgroup/retrieve-changed-files@v3
        with:
          format: 'csv'
      - id: check_files
        run: |
          mapfile -d ',' -t added_modified_files < <(printf '%s,' '${{ steps.get_changed_files.outputs.added_modified }}')
          for added_modified_file in "${added_modified_files[@]}"; do
              if [[ $added_modified_file == ".github/workflows/build.yaml"* ]]; then
                echo "$added_modified_file is myself."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "src/container/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "src/jvm/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "src/net/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
              if [[ $added_modified_file == "tests/"* ]]; then
                echo "$added_modified_file file is under the directory 'src/'."
                echo "run_build_windows=true" >> $GITHUB_OUTPUT
                break
              fi
          done
      - name: Get run_build_windows
        run: echo "The selected run_build_windows is ${{ steps.check_files.outputs.run_build_windows }}"

#  build_container_linux:
#    needs: check_changes
#    if: "always() && needs.check_changes.outputs.run_build_windows == 'true'"
#    runs-on: ubuntu-latest
#    # Steps represent a sequence of tasks that will be executed as part of the job
#    steps:    
#      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
#      - uses: actions/checkout@v4
#        with:
#          fetch-depth: '1'
#          submodules: 'true'
#
#      - name: Pre compile
#        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" src/net/Netdroid/Netdroid.csproj
#        
#      - name: Set up Apache Maven Central
#        uses: actions/setup-java@v4
#        with: # running setup-java again overwrites the settings.xml
#          distribution: temurin
#          java-version: 11
#          cache: 'maven'
#          server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
#          server-username: MAVEN_USERNAME # env variable for username in deploy
#          server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
#          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
#          gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase
#
#      - name: Install local file to be used within Javadoc plugin of generated POM
#        run: mvn install:install-file -DgroupId=JCOBridge -DartifactId=JCOBridge -Dversion=2.5.13 -Dpackaging=jar -Dfile=../../../bin/net8.0/JCOBridge.jar -f ./src/jvm/netdroid/pom.xml
#        shell: bash
#
#      - name: Create Jars
#        run: mvn --file ./src/jvm/netdroid/pom.xml --no-transfer-progress package
#        env:
#          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
#          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
#          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
#        
#      - name: Build Docker Image
#        run: docker build -t netdroid -f ./src/container/Dockerfile.linux .
#        
#      - name: Save Docker Image
#        run: docker image save -o netdroid.linux.tar netdroid
#        
#      - name: Compress Docker Image
#        run: gzip netdroid.linux.tar
#        
#      - uses: actions/upload-artifact@v4
#        with:
#          name: netdroid.linux.tar.gz
#          path: ./*.tar.gz

  # Now run "build_windows"
  build_windows:
    needs: check_changes
    if: "always() && needs.check_changes.outputs.run_build_windows == 'true'"
    # The type of runner that the job will run on
    runs-on: windows-2022

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:   
      # Runs a set of commands using the runners shell
      # Support longpaths
      - name: Support long paths
        run: git config --system core.longpaths true
      
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          fetch-depth: '1'
          submodules: 'true'

      - name: Pre compile
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" src\net\Netdroid\Netdroid.csproj
        env:
          GITHUB_SIMPLIFIED_GENERATION: true
          
      - name: Set up Apache Maven Central
        uses: actions/setup-java@v4
        with: # running setup-java again overwrites the settings.xml
          distribution: temurin
          java-version: 11
          cache: 'maven'
          server-id: ossrh # Value of the distributionManagement/repository/id field of the pom.xml
          server-username: MAVEN_USERNAME # env variable for username in deploy
          server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
          gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }} # Value of the GPG private key to import
          gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for GPG private key passphrase

      - name: Create Jars for Netdroid
        run: mvn -DandroidJarPath=%ANDROID_HOME%/platforms/android-34-ext8/android.jar --file ./src/jvm/netdroid/pom.xml --no-transfer-progress package
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}

      - uses: nuget/setup-nuget@v2.0.0
        with:
          nuget-version: '5.x'
          
      - name: Recompile to create nuget packages
        run: dotnet build --no-incremental --configuration Release /p:Platform="Any CPU" /p:NoWarn="0108%3B1030%3B0618" src\net\Netdroid.sln
        env:
          GITHUB_TEST_PREPARATION: true

      - uses: actions/upload-artifact@v4
        with:
          name: Netdroid
          path: .\bin\*nupkg

#      - name: Save Netdroid bin in cache
#        uses: actions/cache/save@v4
#        with:
#          enableCrossOsArchive: true
#          path: ./bin/
#          key: JNet_bin_${{ github.sha }}
#          
#  execute_tests:
#    needs: build_windows
#    strategy:
#      fail-fast: false
#      matrix:
#        os: [ 'ubuntu-latest', 'windows-latest' ]
#        framework: [ 'net462', 'net6.0', 'net8.0' ]
#        jdk_vendor: [ 'temurin', 'zulu', 'microsoft', 'corretto', 'oracle']
#        jdk_version: [ '11', '17', '21' ] # only LTS versions
#        exclude:
#          - os: ubuntu-latest
#            framework: net462
#          - jdk_vendor: oracle
#            jdk_version: 11
#        
#    runs-on: ${{ matrix.os }}
#    steps:
#      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
#      - uses: actions/checkout@v4
#        with:
#          fetch-depth: '1'
#
#      - name: Restore JNet bin from cache
#        uses: actions/cache/restore@v4
#        with:
#          fail-on-cache-miss: true
#          enableCrossOsArchive: true
#          path: ./bin/
#          key: JNet_bin_${{ github.sha }}
# 
#      - name: Set up JDK distribution
#        uses: actions/setup-java@v4
#        with: # running setup-java again overwrites the settings.xml
#          distribution: ${{ matrix.jdk_vendor }}
#          java-version: ${{ matrix.jdk_version }}
#          cache: 'maven'
# 
#      - name: Executing JNetTest on Ubuntu with ${{ matrix.jdk_vendor }} ${{ matrix.jdk_version }}
#        if: matrix.os == 'ubuntu-latest'
#        run: dotnet ./bin/${{ matrix.framework }}/JNetTest.dll
#        env:
#          JCOBRIDGE_LicensePath: ${{ secrets.JCOBRIDGE_ONLINE }}
#        
#      - name: Executing JNetTest on Windows with ${{ matrix.jdk_vendor }} ${{ matrix.jdk_version }}
#        if: ${{ matrix.os == 'windows-latest' && matrix.framework != 'net462' }}
#        run: dotnet .\bin\${{ matrix.framework }}\JNetTest.dll
#        env:
#          JCOBRIDGE_LicensePath: ${{ secrets.JCOBRIDGE_ONLINE }}
#          
#      - name: Executing JNetTest on Windows with ${{ matrix.jdk_vendor }} ${{ matrix.jdk_version }}
#        if: ${{ matrix.os == 'windows-latest' && matrix.framework == 'net462' }}
#        run: .\bin\${{ matrix.framework }}\JNetTest.exe
#        env:
#          JCOBRIDGE_LicensePath: ${{ secrets.JCOBRIDGE_ONLINE }}